body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, list, p{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: gainsboro;
    font-size: 15px;
    font-family:  "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
.header::before {
    background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    content: "";
    height: 5px;
    position: absolute;
    top: 0;
    width: 100%;
}
.header{
    width: 100%;
    height: 60px;
    background-color: #1C2327;
}
.headerBox{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.headerMy{
    height: 60px;
    width: 160px;
    line-height: 60px;
    font-size: 22px;
    color: white;
    display: inline-block;
    float: left;
    margin-right: 45px;
}
.headerList{
    height: 60px;
    display: inline-block;
}
.headerList li{
    height: 100%;
    line-height: 60px;
    float: left;
    display: inline-block;
    margin-left: 36px;
}
.headerList a:hover{
    color: #00c1de;
}
.headerSearch{
    
    width: 180px;
    height: 100%;
    float: right;
    background-color: burlywood;
}
/*head结束*/


/*banner开始*/
.banner{
    width: 1200px;
    height: 260px;
    margin: 20px auto;
}
.bannerLeft{
    position: relative;
    width: 620px;
    height: 100%;
    float: left;
}
.bannerLeft .bannerImg{
    width: 100%;
    height: 100%;
}
.bannerImg li{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.bannerImg li a img{
    width: 100%;
    height: 100%;
    display: block;
}
.leftBtn , .rightBtn{
    width: 40px;
    height: 32px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
}
.leftBtn  img{
    width: 40px;
    height: 32px;
    display: block;
}
.rightBtn img{
    width: 40px;
    height: 32px;
    display: block;
}
.leftBtn  a{
    width: 40px;
    height: 32px;
    display: block;
}
.rightBtn a{
    width: 40px;
    height: 32px;
    display: block;
}
.leftBtn{
    left: 50px;
}
.rightBtn{
    right: 50px;
}
.btnList{
    width: 96px;
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 36px;
}
.btnList li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    margin-right: 14px;
    float: left;
}
.bannerMid{
    width: 268px;
    height: 100%;
    float: left;
    margin-left: 12px;
}
.bannerMid li{
    width: 100%;
    height: 125px;
    margin-bottom: 10px;
    background-color: gainsboro;
    position: relative;
    overflow: hidden;
}
.bannerMid li a img{
    position: absolute;
    left: 0;
    top: 0;
    transition: transform .2s ease-in;
}
.bannerMid li a:hover img{
    transform: scale(1.2,1.2);
}

.bannerMid li p a{
    position: absolute;
    top: 20%;
    left: 0;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    padding: 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 24px;
    height: 48px;
}
.bannerRight{
    width: 284px;
    height: 100%;
    background-color: #333333;
    float: left;
    margin-left: 16px;
}
.bannerRight h2{
    font-size: 22px;
    margin: 10px;
    color: #89919a;
    font-weight: normal;
    padding-bottom: 10px;
}
.rightText li{
    font-size: 12px;
    padding: 0 0 0 20px;
    line-height: 28px;
    color: #d0d2d4;
    text-shadow: 0px 1px 2px rgba(0,0,0,.5);
    animation: animations2 5s ease-in-out 5s;
}
.rightLink{
    margin: 15px;
}
.rightLink li{
    width: 25%;
    float: left;
}
.rightLink li a{
    height: 53px;
    display: block;
    overflow: hidden;
    box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
    border-radius: 50%;
    margin: 0 5px;
}
.first::before{
    content: "\e64b";
}
a.first{
    color: #ef5509;
    font-size: 36px;
}
.first {
    font-family: "iconfont" !important;
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    line-height: 53px;
    -moz-osx-font-smoothing: grayscale;
}


/*banner*结束/



/*diary开始*/
.diary{
    width: 1200px;
    height: 310px;
    margin: 20px auto;
}
.diaryLeft{
    width: 860px;
    height: 270px;
    float: left;
    background: white;
    border-radius: 5px;
    padding: 20px;
}

.diaryList{
    border-bottom: 1px solid #e4e3e3;
    padding: 10px 0px;
    overflow: hidden;
}
.diaryList::after{
    content: "";
    height: 2px;
    width: 94px;
    background: #333333;
    display: block;
    position: relative;
    top: 29px;
}
.diaryList li{
    float: left;
    margin-right: 25px;
}
.diaryList li a{
    color: #333;
    font-size: 16px;
}
.diaryTab{
    width: 100%;
    height: 210px;
    margin-top: 10px;
}
.tabImage{
    width: 275px;
    height: 210px;
    float: left;
    border-radius: 5px;
}
.tabImage li{
    height: 100px;
    width: 275px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;
}
.tabImage li>a{
    height: 100px;
    width: 275px;
    display: block;
}

.tabImage li a img{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.tabImage li p a{
    position: absolute;
    top: 20%;
    left: 0;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    padding: 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 24px;
    height: 48px;
}
.tabList{
    width: 568px;
    height: 100%;
    float: right;
    border-radius: 5px;
}
.tabList li{
    height: 33px;
    line-height: 33px;
    padding: 0 30px 0 20px;

    overflow: hidden;

}
.tabList li h1{
    height:35px;
    line-height: 35px;
    position: relative;
}
.tabList li h1 a{
    font-size: 15px;
    color: #333333;
    float: left;
    position: absolute;
    left: 44px;
    top: 0;

}
.tabList li h1 span{
    width: 24px;
    height: 20px;
    display: inline-block;
    align: center;
    color: #FFFFFF;
    background: #9a9a9a;
    font-weight: normal;
    font-size: 14px;
    margin-right: 20px;
    float: left;
    position: absolute;
    left: 0;
    top: 7px;
}

.tabList li p{
    height: 46px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    text-overflow:ellipsis;
    overflow:hidden;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 5px;
}
.tabList li:hover{
    height:81px;
    position: relative;
    background: #b1b1b1;
}

.slide{
    width:244px;
    background:#fff;
    float: right;
    padding:20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.title{
    height: 41px;
    border-bottom: 1px solid #e4e3e3;
    line-height: 41px;
    color: #333333;
    font-size: 16px;
}
.title::before{
    content: "";
    height: 2px;
    width: 60px;
    background: #333333;
    display: block;
    position: relative;
    top: 40px;
}
.update{
    padding-top: 16px;
    padding-bottom: 12px;
}
.update li{
    height: 38px;
    margin-top: 12px;
    background: #f6f6f6;
    position: relative;
}

.update li a{
    color: #333333;
    font-size: 12px;
    line-height: 30px;
    width: 82%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    display: block;
    left: 30px;
    top: 6px;
}
.update li::before{
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    background: #333333;
    position: absolute;
    left: 15px;
    top: 20px;
}

/*diary*结束/


/*main开始*/
.main{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    background: #1C2327;
}
.mainLeft{
    width: 900px;
    height: auto;
    min-height: 600px;
    float: left;
    border-radius: 5px;
}

/*recommend开始*/
.recommend{
    height: 658px;
    padding: 20px;
    overflow: hidden;
    background: white;
    border-radius: 5px;
}

.recommendCategory{
    float: right;
}
.recommendCategory li{
    float: left;
    color: #e4e3e3;
    margin-right: 15px;
}
.recommendCategory li a{
    color: #333333;
}
.recommend .recommendList{
    padding: 20px 10px;
}
.recommendList li{
    float: left;
    width: 239px;
    height: 247px;
    border-bottom: 1px solid #e4e3e3;
    border-right: 1px solid #e4e3e3;
    padding: 20px;
}
.recommendList li:nth-child(3n){
    border-right: none;
}
.recommendList li:nth-child(3) ~li{
    border-bottom: none;
}
.recommendList .recommendThumb img{
    height: 100px;
    width: 100%;
}
.recommendList li h2{
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
}
.recommendList li p{
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    height: 61px;
    display: block;
}
.recommendRead a{
    margin: 10px 0 0 0;
    color: #096;
    display: block
}
.recommendRead a:hover{
    color: #333333;
}
.recommendRead a::before{
    content: "+";
    color: #096;
}
/*recommend结束*/
.long{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
}

/*whitebg bloglist开始*/
.bloglist li {
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: #eee 1px dashed;
    padding-bottom: 20px;
    position: relative;
    min-height: 120px;
}
.whitebg {
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.bloglist{
    position: relative;
    top: 20px;
}
.bloglist a{
    color: #333;
}
.blogtitle {
    margin: 0 0 10px 0;
    font-size: 18px;
    overflow: hidden;
}
.blogtitle b {
    color: #F00;
}

h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.blogpic {
    float: left;
    width: 23.2%;
    margin-right: 20px;
    display: block;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
}
.blogpic i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    font-style: normal;
    padding: 3px 5px;
    background: rgba(18,182,221,.8);
    font-size: 14px;
}
.blogpic i a {
    color: #FFF;
}
.imgscale img {
    width: 100%;
    height: 82px;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    transition: all 0.5s;
}

.blogtext {
    font-size: 14px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    margin-top: 20px;
}
.bloginfo {
    margin-top: 20px;
    overflow: hidden;
    color: #999;
    line-height: 34px;
}
.avatar {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 2px;
    display: block;
    background: -webkit-linear-gradient(bottom left, rgba(0,153,255,.9), rgba(42,228,197,.7));
    background: -o-linear-gradient(bottom left, rgba(0,153,255,.9), rgba(42,228,197,.7));
    background: linear-gradient(to top right, rgba(0,153,255,.9), rgba(42,228,197,.7));
}
.bloginfo span {
    margin: 0 5px;
}
.bloginfo span a {
    color: #096;
}
.viewmore{
    display: block;
    right: 10px;
    bottom: 20px;
    position: absolute;
    padding: 3px 10px;
    background: #12b7de;
    color: #fff;
    border-radius: 3px;
}
.topnews {
    display: block;
    margin: 20px 0;
    background: #000;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    max-height: 110px;
}
.topnews span {
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    padding: 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 22px;
}
/*whitebg bloglist结束*/

.mainRight{
    width: 284px;
    height: auto;
    min-height: 600px;
    float: right;
}
.mainRight .slide{
    background: white;
}
.mainRight .slide .slideImg{
    margin-top: 20px;
    width: 242px;
    height: 100px;
    display: block;
    position: relative;
}
.mainRight .slide .slideImg img{
    width: 242px;
    height: 100px;
}
.mainRight .slide .slideImg p{
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    padding: 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 22px;
}
.mainRight .slide{
    background: white;
}
.mainRight .slide .slideImg{
    margin-top: 20px;
    width: 242px;
    height: 100px;
    display: block;
    position: relative;
}
.mainRight .slide .slideImg img{
    width: 242px;
    height: 100px;
}
.mainRight .slides.slideImg p{
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    padding: 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 22px;
}
.ranking{
    padding-top: 16px;
    padding-bottom: 12px;
}
.ranking li{
    height: 30px;
    margin-top: 12px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 40px;
    padding-top: 5px;
}
.ranking li:nth-child(2n){
    background: #f6f6f6;
}
.ranking li a{
    color: #333333;
    text-decoration: none;
}
.ranking li::before{
    content: "";
    color: white;
    width: 20px;
    height: 20px;
    display: block;
    background: gainsboro;
    position: absolute;
    left: 10px;
    top: 7px;
}
.ranking li:nth-child(1)::before {
    content: "1";
    text-align: center;
    background: orangered;
}
.ranking li:nth-child(2)::before {
    content: "2";
    background: orangered;
    text-align: center;
}
.ranking li:nth-child(3)::before {
    content: "3";
    background: orangered;
    text-align: center;
}
.ranking li:nth-child(4)::before {
    content: "4";
    text-align: center;
}
.ranking li:nth-child(5)::before {
    content: "5";
    text-align: center;
}
.ranking li:nth-child(6)::before {
    content: "6";
    text-align: center;
}
.ranking li:nth-child(7)::before {
    content: "7";
    text-align: center;
}
.htitle{
    overflow: hidden;
    padding-top: 10px;
    margin-top: 20px;
}
.htitle li {
    overflow: hidden;
    margin-bottom: 10px;
    height: 60px;
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;

}
.htitle li i {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    overflow: hidden;
    display: block;
    float: left;
}

.htitle li i img {
    height: 100%;
    width: 70px;
    max-width: 100%;
    transition: all .5s ease;
}
.htitle li p{
    margin-top: 10px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    font-size: 14px;
}
.htitle a{
    color:#333333;
    text-decoration: none;
}
/*main结束*/
